.contact_bg{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(65,247,203,0.756827731092437) 35%, rgba(255,255,255,1) 100%);
    height: 50vh;
}

.custom-separator {
    border-top: 2px solid black;
    width: 15%;
    text-align: center;
    margin-top:20px; 
}