.about_us_bg{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(65,247,203,1) 35%, rgba(255,255,255,1) 100%);
}

.about_us_card_parent{
    background-color: #41f7cb;
    border: 1px solid black;
    border-radius: 40px;
    margin-top: 80px;
    margin-left: 15%;
    width: 70% !important;
    margin-bottom: 80px;
    position: relative;
    justify-content: center;
}

.about_us_card_child{
    border: 1px solid black;
    border-radius: 40px;
    width: 99%;
    background-color: white;
    padding: 40px 80px 40px 80px;
    text-align: center;
}