@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Nunito", sans-serif;
}

.custom {
	animation: scroll 40s linear infinite ;
	scroll-behavior: smooth;
}

.custom1 {
	animation: scroll 25s linear infinite ;
	scroll-behavior: smooth;
}

.custom2 {
	animation: scroll 30s linear infinite ;
	scroll-behavior: smooth;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
